.articles_container {
  width: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1080px) {
  .articles_container {
    width: 95%;
  }
}

@media only screen and (max-width: 950px) {
  .articles_container {
    margin: auto;
  }
}
